.audio {
  display: none;
}

.player {
  max-width: 30em;
  margin: 0 auto;
}

.playlist {
}

.player .playlist-name {
  text-align: center;
  margin: 1em 0 0;
}

.player .playlist-created-at {
  text-align: center;
  font-weight: normal;
  color: var(--color-fg-50);
  margin: 0;
}

.player .main-album-art {
  padding: 1em 2em 0;
}

.player .main-album-art .img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px rgba(0,0,0,0.25), 0 8px 16px -8px rgba(0,0,0,0.3)
}

.player .timeline {
  display: grid;
  grid-template:
    "progress-bar progress-bar"
    "current-time remaining-time";
  grid-row-gap: 0.2em;
  padding: 1em 2.5em 0;
  font-size: 0.8em;
}

.player .timeline .progress-bar {
  position: relative;
  grid-area: progress-bar;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: #555;
}

.player .timeline .progress-bar-buffered {
  position: absolute;
  top: 0;
  left: 0;

  background: #888;
  height: 4px;
  border-radius: 4px;;
  transition: width 0.3s ease;
}

.player .timeline .progress-bar-inner {
  position: absolute;
  top: 0;
  left: 0;

  background: #fbffe3;
  height: 4px;
  border-radius: 4px;;
  transition: width 0.3s ease;
}

.player .timeline .current-time {
  grid-area: current-time;
  color: var(--color-fg-50);
  text-align: left;
}

.player .timeline .remaining-time {
  grid-area: remaining-time;
  color: var(--color-fg-50);
  text-align: right;
}

.playlist .controls {
  display: grid;
  grid-template-columns: auto auto auto;
}

.playlist .controls .button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: 2em;
}

.playlist .scroll-hint {
  width: 2em;
  margin: 0 auto;
}

.playlist .scroll-hint svg path {
  fill: var(--color-fg-50);
}

.playlist .controls .button svg path {
  fill: var(--color-fg);
}

.playlist .current-track-metadata {
  margin-top: 1em;
}

.playlist .current-track-metadata p {
  text-align: center;
  line-height: 1.5em;
  margin: 0;
}

.playlist .current-track-metadata .artist {
}

.playlist .current-track-metadata .title {
  font-weight: bold;
}

.playlist .current-track-metadata .album {
  color: var(--color-fg-50);
}

.player .track-list {
  list-style: none;
  padding: 0;
}

.player .track-list-item {
}

.player .track-list-item .button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;

  width: 100%;

  display: grid;
  grid-template: 
    "album-art title timestamp"
    "album-art artist timestamp";
  grid-column-gap: 1em;


  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3em auto;

  padding: 0.5em;
  margin-bottom: 0.5em;

  border-radius: 5px;
}

.player .track-list-item .button:hover {
  background: #222;
}

.player .track-list .album-art {
  grid-area: album-art;
  width: 3em;
  height: 3em;
  border-radius: 4px;
}

.player .track-list .title {
  grid-area: title;
  text-align: left;
  color: var(--color-fg);
  line-height: 1.5em;
}

.player .track-list .artist {
  grid-area: artist;
  text-align: left;
  color: var(--color-fg-50);
  line-height: 1.5em;
}

.player .track-list .timestamp {
  grid-area: timestamp;
  text-align: right;
  color: var(--color-fg-50);
  line-height: 3em;
}

.player .external-links {
  border-top: 2px solid #555;
  padding: 0.8em 0;
  display: flex;
  justify-content: center;
}

.player .spotify-link {
  color: #fff;
  opacity: 0.5;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 1em;
  border-radius: 4px;
  padding: 0.2em 1em;
}
.player .spotify-link:hover {
  opacity: 1;
  background: #222;
}

.player .spotify-logo {
  width: 40px;
  height: 40px;
}
